<!-- Début Menu One page / header -->
<div id="header" class="navbar navbar-fixed-top offcanvas-sm">
	<div class="">
		<div class="collapse navbar-collapse" id="exCollapsingNavbar">
			<ul class="nav">
				<li><a href="#page6">Modules</a></li>
			</ul>
		</div>
	</div>
</div>

<!-- Fin Menu One page / header -->

<!-- <nav class="navbar navbar-light bg-faded"> -->

<!-- <nav class="sidemenu visible-xs">
	<button class="btn-sidemenu btn-sidemenu-primary collapsed" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar" aria-expanded="false" aria-controls="navbar">
		<span class="sr-only">Activer navigation secondaire</span>
		<span class="glyphicon glyphicon-chevron-left"></span>
	</button>
</nav> -->




<!-- Fin Menu One page / header -->
<div id="page1" class="page section-odd container-fluid">
</div>

<!-- -------------------------------------------------------------------- -->




<!-- Début page 2 -->
<div id="page2" class="page section-odd container-fluid">
</div>
<!-- fin page 2-->
<!-- Début page 3 -->

<div id="page3" class="page section-odd container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h1>Le pari d’une formation active.</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			Afin de rendre les apprenants actifs et responsables, la formation mixe une approche classique diffusion de contenu + évaluation des connaissances acquises et une découverte autonome des savoirs.
			<br>
			<br> Les ressources proposées sont donc de 3 types.
		</div>
	</div>
	<div class="row text-center">
		<div class="col-md-4">
			<img src="static/img/page3_icon1.svg">
			<br>
			<button type="button" data-toggle="collapse" data-target="#cours" class="btn-odd btn-odd-primary btn-lg">En savoir
				<span class="icon-plus-circled"></span>
			</button>
			<div id="cours" class="collapse panel panel-odd">
				Les supports de cours peuvent prendre différentes formes. Découpés en grains très fins, ils peuvent êre sous forme de vidéos/animation avec une forte plus-value pédagogique ou simplement sous la forme d’un texte ou de liens à explorer ( ressources vidéos
				externes, podcast audio, sites d’information, …)
			</div>
		</div>
		<div class="col-md-4">
			<img src="static/img/page3_icon2.svg">
			<br>
			<button type="button" data-toggle="collapse" data-target="#quizz" class="btn-odd btn-odd-primary btn-lg text-center">En savoir
				<span class="icon-plus-circled"></span>
			</button>
			<div id="quizz" class="collapse panel panel-odd">
				Les quizz d’auto-évaluation destinés à permettre aux apprenants de vérifier que les contenus ont été assimilés et compris. Ils sont en général très simple si le cours a été vu.
			</div>
		</div>
		<div class="col-md-4">
			<img src="static/img/page3_icon3.svg">
			<br>
			<button type="button" data-toggle="collapse" data-target="#exos" class="btn-odd btn-odd-primary btn-lg text-center">En savoir
				<span class="icon-plus-circled"></span>
			</button>
			<div id="exos" class="collapse panel panel-odd">
				Une grosse partie des connaissances est dispensée sous forme de recherches guidées. Elles visent à positionner l’apprenant dans une démarche active. Ces recherches sont le plus souvent terminées par des questions ouvertes qui ont pour but de faire réfléchir
				et prendre du recul face aux connaissances abordées.
			</div>
		</div>
	</div>
</div>

<!-- Fin page 3 -->
<!-- Début page 4 -->

<div id="page4" class="page section-even container-fluid">
</div>
<!-- Fin page 4 -->
<!-- Début page 5 -->

<div id="page5" class="page section-odd container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h1>Réutilisabilité</h1>
			Afin de faciliter la réappropriation des contenus par tous les types d’enseignants/formateurs, nous respectons 3 règles fondamentales :
			<br>
			<br>
		</div>
	</div>

	<div class="row text-center">
		<div class="col-md-4">
			<strong>Une granularité fine</strong>
			<br>
			<img src="static/img/granularite.svg">
			<br>
			<button type="button" data-toggle="collapse" data-target="#granularite" class="btn-odd btn-odd-primary btn-lg">En savoir
				<span class="icon-plus-circled"></span>
			</button>
			<div id="granularite" class="collapse panel-odd">
				Les ressources sont regroupées en modules thématiques, et les modules sont découpés en plusieurs sections. Ce découpage très fin permet à chaque enseignant de ne reprendre qu’une partie des sections ou de séparer les contenus, les exercices d’auto-évaluation
				et les recherches d’approfondissment pour adapter sa pédagogie selon l’âge et le type de public concerné.
			</div>
		</div>

		<div class="col-md-4">
			<strong>Des formats simples et ouverts</strong>
			<br>
			<img src="static/img/format_ouvert.svg">
			<br>
			<button type="button" data-toggle="collapse" data-target="#formats" class="btn-odd btn-odd-primary btn-lg">En savoir
				<span class="icon-plus-circled"></span>
			</button>
			<div id="formats" class="collapse panel-odd">
				Nous avons choisi de décrire toutes les ressources sous un format texte, ce qui facilite l’interopérabilité et la réutilisabilité. Aucun logiciel spécifique n’est nécessaire pour utiliser les ressources ou en créer de nouvelles. La version html présentée
				sur ce site est directement utilisable par chacun sans autre besoin qu’un navigateur internet. Une procédure d’export vers le format normalisés du LMS (Learning Management System) Moodle (format IMSCC) permet pour ceux qui le désirent de créer facilement
				un cours Moodle, des exports vers d’autre LMS sont à l’étude (vers EdX en particulier). N’hésitez pas à nous contacter si cette procédure vous intéresse.
			</div>
		</div>

		<div class="col-md-4">
			<strong>Des contenus sous licence libre</strong>
			<br>
			<img src="static/img/cc.svg">
			<br>
			<button type="button" data-toggle="collapse" data-target="#contenus" class="btn-odd btn-odd-primary btn-lg">En savoir
				<span class="icon-plus-circled"></span>
			</button>
			<div id="contenus" class="collapse panel-odd">
				Toutes les ressources présentés sur ce site sont déclarées sous la licence
				<strong>
					<span class="icon-cc"> Creative Commons n°5</span> :
					<span class="icon-cc-by"> Attribution</span> +
					<span class="icon-cc-nc"> Pas d’Utilisation Commerciale</span> +
					<span class="icon-cc-sa"> Partage dans les mêmes conditions</span> (BY NC SA).</strong>
				<br>Ce qui signifie que le titulaire des droits autorise l’exploitation de l’œuvre originale à des fins non commerciales, ainsi que la création d’œuvres dérivées, à condition qu’elles soient distribuées sous une licence identique à celle qui régit l’œuvre
				originale.
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<br>
			<br>
			N'hésitez pas à prendre contact avec nous si vous souhaitez <span class="orange">adapter</span> une partie des modules dans <span class="orange">votre propre environnement d'apprentissage</span>.
		</div>
	</div>


</div>

<!-- Fin page 5 -->
