__pycache__
.cache
*.log
*.pyc
*.sqlite*
*NOGIT
build
dist
cnparser.egg-info
documentation/_*
documentation/conf.py
sample.config.json
tests/Test.imscc.zip
tests/outTestEDX
tests/outTestIMS
tests/outTestGIFT
tests/out
tests/dirmodule
tests/.coverage
tests/coverage_html_report
